/*
cripure css file
*/

* {
	padding:0;
	margin:0;
}
body {
	width:100%;
}

#wrapper{
//	border:5px solid black;
	margin: 10px;
	width:920px;
}
.content {
	border:5px solid black;
//	width:300px;
//	margin:0px;
//	padding:0px;
//	float:left;
}
#content_1{
//	float:left;
	width:200px;
	//	padding:10px;
	background-color:#00ff00;

}

#content_2{
	position: absolute;
	left: 100px;
	top: 200px;
	width:200px;
//	margin:0 0 0 200px;
	background-color:#ff0000;

}

#content_3{
//	clear:both;
//	float:left;
	width:200px;
}
#content_4{
	width:200px;
//	float:left;
	background-color: #0000ff;
}
#content_5{
	width:200px;
//	clear:left;
//	float:right;
	background-color: #0000ff;
}

#content_6{
	width:200px;
//	float:right;
	background-color: #0000ff;
}


div h1 {
//	text-align: center;
}